{{#if admin }}
<div>Add new Product</div>
<form action="/products/create" method="post">
    <label for="name">Name</label>
    <input type="text" name="name">
    <label for="description">Description</label>
    <input type="text" name="description">
    <label for="price">Price</label>
    <input type="number" name="price" step=".01">
    <label for="stock">Stock</label>
    <input type="number" name="stock">
    <input type="submit" value="Create Product">
</form>
{{/if}}

{{#if premium }}
<div>Add new Product</div>
<form action="/products/create" method="post">
    <label for="name">Name</label>
    <input type="text" name="name">
    <label for="description">Description</label>
    <input type="text" name="description">
    <label for="price">Price</label>
    <input type="number" name="price" step=".01">
    <label for="stock">Stock</label>
    <input type="number" name="stock">
    <input type="submit" value="Create Product">
</form>
{{/if}}

<table>
    <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Stock</th>
        <th></th>
    </thead>
    <tbody>
        {{#each products }}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td>{{this.stock}}</td>
            {{#if ../admin }}
            <td>
                <button><a href="/product_update/{{this._id}}">Update</a></button>
                <button onclick="deleteMethod('{{this._id}}')">Delete</button>
            </td>
            {{else}}
            <td>
                <input type="number" id="quantity_input_{{this._id}}" name="quantity" value="1">
                <input type="text" id="owner_input_{{this._id}}" name="owner" value="{{this.owner}}" hidden="hidden">
                <button onclick="addItemPut('{{../cart}}', '{{this._id}}')">Add to Cart</button>
                {{#if (equals this.owner ../_id)}}
                <button><a href="/product_update/{{this._id}}">Update</a></button>
                <button onclick="deleteMethod('{{this._id}}')">Delete</button>
                {{/if}}
            </td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>

{{#unless admin}}
<form action="/cart/{{cart}}/purchase" method="POST">
    <button type="submit">Buy</button>
</form>
{{/unless}}
<button><a href="/profile">Go to Profile</a></button>

{{#unless admin}}
{{#if fullCart}}
<table>
    <thead>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
    </thead>
    <tbody>
        {{#each fullCart}}
        <tr>
            <td>{{this.product_name}}</td>
                        <td>
                <span id="span_quantity_{{this.product_id}}">{{this.quantity}}</span>
                <button onclick="updateQuantity('{{../cart}}', '{{this.product_id}}', '1')"><span class="arrow_up"></span></button>
                <button onclick="updateQuantity('{{../cart}}', '{{this.product_id}}', '-1')"><span class="arrow_down"></span></button>
            </td>
            <td>{{this.price}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}
{{/unless}}

<script>
    async function deleteMethod(id){
        await fetch(`../products/delete/${id}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })
    }

    async function addItemPut(cid, pid){
        const owner_input = document.getElementById(`owner_input_${pid}`);
        const quantity_input = document.getElementById(`quantity_input_${pid}`);

        await fetch(`../cart/add_item/${cid}/${pid}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                owner: owner_input.value,
                quantity: quantity_input.value
            })
        })
    }

    async function updateQuantity(cid, pid, amount){
        const amount_number = Number(amount);

        const current_quantity = document.getElementById(`span_quantity_${pid}`);

        const final_quantity = Number(current_quantity.innerHTML) + amount_number;
        
        await fetch(`../cart/update_quantity/${cid}/${pid}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                quantity: final_quantity
            })
        })
    }
</script>

<style>
    .arrow_up{
        background: url('/images/arrow_up.png');
        height: 32px;
        width: 32px;
        display: block;
    }

    .arrow_down{
        background: url('../images/arrow_down.png');
        height: 32px;
        width: 32px;
        display: block;
    }
</style>